In [3]:
## Employee Data collecting
## https://gorest.co.in/public-api/users?_format=json

In [4]:
import requests
import json

In [6]:
response = requests.get('https://gorest.co.in/public-api/users?_format=json')
json_res = response.text

In [8]:
json_res

'{"code":200,"meta":{"pagination":{"total":2902,"pages":291,"page":1,"limit":10}},"data":[{"id":7301437,"name":"Bhaumik Bhat","email":"bhaumik_bhat@padberg-predovic.test","gender":"male","status":"active"},{"id":7301435,"name":"Gauranga Khanna","email":"khanna_gauranga@krajcik-hamill.test","gender":"female","status":"inactive"},{"id":7301434,"name":"Ajeet Pothuvaal","email":"ajeet_pothuvaal@rogahn.test","gender":"male","status":"inactive"},{"id":7301433,"name":"Anand Dutta","email":"anand_dutta@ziemann.test","gender":"female","status":"inactive"},{"id":7301432,"name":"Bhisham Nayar","email":"nayar_bhisham@tremblay-friesen.example","gender":"male","status":"active"},{"id":7301431,"name":"Rukmin Kaur","email":"rukmin_kaur@bashirian.test","gender":"female","status":"active"},{"id":7301430,"name":"Deeksha Marar Esq.","email":"deeksha_marar_esq@grady.example","gender":"female","status":"inactive"},{"id":7301429,"name":"Shwet Butt","email":"butt_shwet@jerde.example","gender":"male","status":"active"},{"id":7301428,"name":"Deevakar Khan","email":"khan_deevakar@williamson.example","gender":"male","status":"inactive"},{"id":7301427,"name":"Dhanalakshmi Bharadwaj","email":"bharadwaj_dhanalakshmi@tillman.example","gender":"male","status":"inactive"}]}'

In [16]:
json_result = json.loads(json_res)

In [18]:
json_result

{'code': 200,
 'meta': {'pagination': {'total': 2902, 'pages': 291, 'page': 1, 'limit': 10}},
 'data': [{'id': 7301437,
   'name': 'Bhaumik Bhat',
   'email': 'bhaumik_bhat@padberg-predovic.test',
   'gender': 'male',
   'status': 'active'},
  {'id': 7301435,
   'name': 'Gauranga Khanna',
   'email': 'khanna_gauranga@krajcik-hamill.test',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 7301434,
   'name': 'Ajeet Pothuvaal',
   'email': 'ajeet_pothuvaal@rogahn.test',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 7301433,
   'name': 'Anand Dutta',
   'email': 'anand_dutta@ziemann.test',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 7301432,
   'name': 'Bhisham Nayar',
   'email': 'nayar_bhisham@tremblay-friesen.example',
   'gender': 'male',
   'status': 'active'},
  {'id': 7301431,
   'name': 'Rukmin Kaur',
   'email': 'rukmin_kaur@bashirian.test',
   'gender': 'female',
   'status': 'active'},
  {'id': 7301430,
   'name': 'Deeksha Marar Esq.',
   'email': 'deeksha_marar_esq@grady.example',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 7301429,
   'name': 'Shwet Butt',
   'email': 'butt_shwet@jerde.example',
   'gender': 'male',
   'status': 'active'},
  {'id': 7301428,
   'name': 'Deevakar Khan',
   'email': 'khan_deevakar@williamson.example',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 7301427,
   'name': 'Dhanalakshmi Bharadwaj',
   'email': 'bharadwaj_dhanalakshmi@tillman.example',
   'gender': 'male',
   'status': 'inactive'}]}

In [20]:
json_result.keys()

dict_keys(['code', 'meta', 'data'])

In [26]:
data = json_result['data']

In [28]:
for raw in data:
    print('name = {}, email = {}, gender = {}, status = {}'.format(raw['name'],raw['email'],raw['gender'],raw['status']))

name = Bhaumik Bhat, email = bhaumik_bhat@padberg-predovic.test, gender = male, status = active
name = Gauranga Khanna, email = khanna_gauranga@krajcik-hamill.test, gender = female, status = inactive
name = Ajeet Pothuvaal, email = ajeet_pothuvaal@rogahn.test, gender = male, status = inactive
name = Anand Dutta, email = anand_dutta@ziemann.test, gender = female, status = inactive
name = Bhisham Nayar, email = nayar_bhisham@tremblay-friesen.example, gender = male, status = active
name = Rukmin Kaur, email = rukmin_kaur@bashirian.test, gender = female, status = active
name = Deeksha Marar Esq., email = deeksha_marar_esq@grady.example, gender = female, status = inactive
name = Shwet Butt, email = butt_shwet@jerde.example, gender = male, status = active
name = Deevakar Khan, email = khan_deevakar@williamson.example, gender = male, status = inactive
name = Dhanalakshmi Bharadwaj, email = bharadwaj_dhanalakshmi@tillman.example, gender = male, status = inactive

In [40]:
import csv
with open('employee.csv','w',newline='') as f:
    writer = csv.DictWriter(f,fieldnames=['name','email','gender','status'])
    writer.writeheader()
    for raw in data:
        writer.writerow({'name':raw['name'],
                         'email':raw['email'],
                         'gender':raw['gender'],
                         'status': 1 if raw['status'] == 'active' else 0})

In [34]:
import pandas as pd

In [42]:
df = pd.read_csv('employee.csv')

In [44]:
df

,name,email,gender,status
0,Bhaumik Bhat,bhaumik_bhat@padberg-predovic.test,male,1
1,Gauranga Khanna,khanna_gauranga@krajcik-hamill.test,female,0
2,Ajeet Pothuvaal,ajeet_pothuvaal@rogahn.test,male,0
3,Anand Dutta,anand_dutta@ziemann.test,female,0
4,Bhisham Nayar,nayar_bhisham@tremblay-friesen.example,male,1
5,Rukmin Kaur,rukmin_kaur@bashirian.test,female,1
6,Deeksha Marar Esq.,deeksha_marar_esq@grady.example,female,0
7,Shwet Butt,butt_shwet@jerde.example,male,1
8,Deevakar Khan,khan_deevakar@williamson.example,male,0
9,Dhanalakshmi Bharadwaj,bharadwaj_dhanalakshmi@tillman.example,male,0

In [48]:
df['gender'].value_counts()

gender
male      6
female    4
Name: count, dtype: int64